.alert-container {
    height: 55px;
    border-radius:8px;
    font-weight: 300;
    background: #ff0f0f2d;
    color: #da0d0d;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}