.button {
    height: 50px;
    border-radius:8px;
    font-weight: 500;
    background: #262626;
    color: #fff;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    &:not(:disabled):hover {
        filter: brightness(0.8);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
    &:focus{
        box-shadow: 0 0 0 2px #EB9D0E;
        border: none;
        outline: none;
    }
}